@keyframes fadeInLeft {
  from {
    opacity:0;
    transform: translateX(-100%);
  }
  to {
    opacity:1;
    transform: translateX(0);
  }
}

.text-enter {
  opacity: 1;
}

.text-enter-active {
  animation: fadeInLeft 0.3s ease-in-out;
}

.AppContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.block__TextInput {
  height: 100vh;
}

.block__TextInput::-webkit-scrollbar {
  display: none;
}

.block__TimeViewer {
  position: absolute;
  text-align: center;
  top: 45vh;
}
